<% @exhibitionsCtn.each do | exhibit | %>
	<li class="grid__item">
		<a class="grid__link" href="#">
			<img class="grid__img" src="<%= exhibit.img_url %>" alt="Some image"/>
			<h3 class="grid__item-title"><%= exhibit.name %></h3>
		</a>
	</li>
<% end %>