<!DOCTYPE html>
<html>
<head>
  <title>AOV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div class="view view--loaded">
		<header class="header">
			<div class="title-wrap">
				<h1 class="title title--main">Art on View <em>in</em></h1>
				<p class="title title--sub">NYC | San Francisco</p>
			</div>
		</header>
		<section class="page page--mover">
			<div class="la-square-loader">
				<div></div>
			</div>
		</section>

		<section class="page page--static">
			<div class="page__title">
				<h2 class="page__title-main"></h2>
				<p class="page__title-sub"></p>
			</div>

			<ul class="grid">
					<%= yield %>
			</ul>
		</section>

	<div class="device">
		<div class="device__screen"></div>
	</div>
</div>
</body>
</html>
